
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header {
    /* height: 80px; */
    width: 100%;
    background-color: rgba(180, 132, 108, 0.8);
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
}


nav .logo {
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
    font-family: 'Comforter', cursive;
}

nav .navMenu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav .navMenu .navItems .navLinks{
    color: #fff;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

nav .navMenu .navItems .navLinks:hover {
    color: #884A39;
    font-weight: 600;
}


nav .navMenu .navItems .navLinks.active {
    color: #884A39;
}


main {
    background-color: rgba(227, 208, 185, 0.7);
    min-height: 100vh;
}

main .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem;
}

@media screen and (min-width:768px) {
    main .content {
        flex-direction: row;
    }
}


main .content__img {
    width: 80%;
}


main .content__img img {
    max-width: 100%;
    border: 3px solid #884A39;
    border-radius: 10px;
}
main .content__img2 img {
    max-width: 70%;
    border: 3px solid #884A39;
    border-radius: 10px;
}


main .content .content__text .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

main .content .content__text .icons > a {
    width: 5%;
}

main .content .content__text .icons a > img {
    width: 100%;
}



main .content .icons a img {
    width: 5%;
}

.name {
    display: grid;
    font-family: 'Indie Flower', cursive;

}

.name h1 {
    font-size: 1rem;
    font-weight: 500;
}

.name span {
    font-size: 1.5rem;
    font-weight: 700;
}

.content__text {
    text-align: center;
}




.ptag{
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    margin-right: 4px 0px;
}

footer{
    /* display: flex; */
    padding: 20px;
    background-color: rgba(180, 132, 108, 0.8);
    /* clear: both; */

}

.container{
    display: flex;
    max-width: 500px;
    margin: 0 auto;
}



